<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Lake Guardian Initiative</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>About the Lake Guardian Initiative</h1>
    </header>
    <main>
        <section>
            <h2>Mission</h2>
            <p>To restore and safeguard Lake Victoria's ecosystem through innovative technology, sustainable practices, stakeholder inclusivity, and community engagement for the well-being of its surrounding communities.</p>
        </section>
        <section>
            <h2>Vision</h2>
            <p>A thriving Lake Victoria, resilient to environmental challenges, sustaining both biodiversity and the livelihoods of future generations.</p>
        </section>
        <section>
            <h2>Objectives</h2>
            <ul>
                <li>Real-Time Monitoring with AI</li>
                <li>Sustainable Fishing Practices</li>
                <li>Pollution Control</li>
                <li>Resilient Infrastructure</li>
                <li>Community Engagement</li>
                <li>Data-Driven Decision-Making</li>
            </ul>
        </section>
        <section>
            <h2>Technologies to be Employed</h2>
            <h3>APIs<h3>
            <ul>
                <li>Community Engagement Technologies: Vambo AI for providing multilingual identification and Translation</li>
                <li>Artificial Intelligence: OnDeck Fisheries AI for species identification and monitoring fishing activities</li>
                <li>Satellite Imagery and Remote Sensing</li>
            </ul>
        
            <h3>IOT<h3>
            <ul>
                <li>Water Quality Sensors: Measure parameters like pH, temperature, dissolved oxygen, and turbidity to monitor water quality in real time.</li>
                <li>Satellite Imagery and Remote Sensing</li>
            </ul>
        </section>
        </section>
        <section>
            <h2>Engage Local Communities</h2>
            <p>We intend to utilize multilingual APIs like Vambo AI to create and distribute educational materials in local languages, organize workshops, and more to engage local communities.</p>
        </section>
    </main>
</body>
</html>
